<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arke</title>
    <link rel=stylesheet type=text/css href="/static/css/bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/bootstrap-override.css">
    <link rel=stylesheet type=text/css href="/static/css/override.css">
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Arke</a>
                {% if user.is_authenticated %}
                <p class="navbar-text">Logged in: {{user.username}}</p>
                {% endif %}
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
            </div>
        </div>
    </div>

    <div class="container container-main">

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <b>The following errors were found in the form:</b>
            <ul>
                {% for err in form.errors %}
                <li>{{err.key}}: {{err.value}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {{form.id_password.errors }}


        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="id_username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="id_password" placeholder="Password"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
</body>
